body {
	padding-top: 60px
}

.message-accueil {
	color: #000
}

.vote-on, .vote-off {
	font-weight: bold
}

.consultation {
	float:right;
	margin-top: 0px
}

.alert-info iframe {
	vertical-align: middle;
}

#description {
	height: 80px
}

#providers {
	text-align: center
}

.tooltip {
	font-size: 0.85em;
}

#nav .no-link, #nav .no-link:hover {
	cursor: default;
	color: #999
}

.avatar {
	float: right
}